html,body {
    height: 100%;
}

body {
    background: rgba(255, 220, 219, 1);
    margin: 0;
    font-family: 'Poppins';
}

.login {
    width: 325px;
    background: #fff;
    text-align: center;
    padding: 30px;
    /* border: 2px solid rgba(0, 0, 0, .65); */
    border-radius: 5px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .5); */
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login h1 {
    margin: 0;
    font-size: 2em;
}

.login h4 {
    font-weight: normal;
    color: #856404;
    background-color: #fff3cd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;
}

.login input {
    font-family: inherit;
    width: 300px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    font-size: 0.85em;
}

.login input[type="password"]{
    margin-top: 10px;
}

.login input[type="submit"]{
    width: 50%;
    background: #17abb8;
    color: white;
    box-shadow: 0 2px 0 rgb(0, 55, 135);
    font-size: 1em;
    margin: 20px 0 5px 0;
    cursor: pointer;
}

div{
    margin-top: 350px;
}
div > a{
    text-decoration: none;
    text-align: center;
    color: rgba(254, 102, 102, 1);
}