body,html {
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

/* PAGE INDEX START */

/* START-INFO */
.info{
    width: 100%;
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info .info_left{
    width: 30%;
    height: 250px;
    background: url('../IMG/solde1.webp');
    background-color: crimson;
}

.info .info_right{
    width: 29.5%;
    height: 250px;
    background: url('../IMG/solde2.webp');
    background-color:forestgreen;
}
/* END-INFO */


/* START CATEGORIES */
.cat{
    text-align: center;
}

.cat .entete{
    margin-bottom: 85px;
}

.cat .entete h2{
    font-size: 4em;
}

.cat .entete p{
    font-size: 1.5em;
}

.cat .entete button{
    color: #fff;
    font-size: 1em;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    background: #000;
}

.cat .card_image{
    width: 100%;
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cat .card_image .card{
    position: relative;
    width: 20%;
    height: 350px;
    border-radius: 15px;
    background: url('../IMG/cat/cat-man.jpeg');
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}

.cat .card_image .card > div{
    position: absolute;
    bottom: 30px;
}

.cat .card_image .card div > button{
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    background: #fff;
}

/* END CATEGORIES */

/* START ARRIVAGES */

.cat .entete .but_blanc{
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 35px;
    border: 1px solid;
    border-radius: 5px;
    background: #fff;
}
.card_imgArr{
    width: 100%;
    padding: 0;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.cat .card_imgArr .card1{
    height: 600px;
    width: 25%;
    background: url('../IMG/woman1.jpeg');
    background-position: center center;
    background-size: cover;
    margin-top: 90px;
}

.cat .card_imgArr .card2{
    height: 600px;
    width: 25%;
    background: url('../IMG/Rectangle\ 19.png');
    background-position: center center;
    background-size: cover;
}

.cat .card_imgArr .card3{
    height: 600px;
    width: 25%;
    background: url('../IMG/woman2.jpeg');
    background-position: center center;
    background-size: cover;
    margin-top: 90px;

}


/* END ARRIVAGES */


/* START PRODUIT */
.card_imgPr{
    /* background: #000; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.card_imgPr .c{
    width: 25%;
    height: 370px;
}

.card_imgPr .c > .mo{
    width:100%; 
    height:350px;
    margin-bottom: 15px;
}

.mo1{
    background: url('../IMG/Product_Image-removebg-preview.png');
    background-position: center center;
    background-size: cover;
}

.mo2{
    background: url('../IMG/trico.webp');
    background-position: center center;
    background-size: cover;
}

.mo3{
    background: url('../IMG/Product\ Image\ \(1\).png');
    background-position: center center;
    background-size: cover;
}

/* END PRODUIT */

.traifoo{
    width: 95%;
    border: 1px solid #000;
    margin: 15px auto;
}

/* PAGE INDEX END */



/************************Nouvelle page***************************
*****************************************************************
*****************************************************************/



/* PAGE COLLECTION START */

#sectionCol{
    margin: 0 auto;
}

#sectionCol .images{
    margin: 0 0 0 150px;
}

.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 25px 0;
    font-size: 2rem;
    text-decoration: underline;
}

.bloc_filtre{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.bloc_filtre .left{
    width: 50%;
}

.bloc_filtre .right{
    width: 50%;
    display: flex;
    justify-content: end;
}

.card_imgPr{
    /* background: #000; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    margin-bottom: 100px;
}

.card_imgPr .c{
    width: 25%;
    height: 370px;
}

.card_imgPr .c > .mo{
    width:70%; 
    height:350px;
    margin-bottom: 15px;
}

.pied_card{
    display: flex;
    justify-content: space-evenly;
    margin-left: -100px;
}

.co1{
    background: url('../IMG/pexels-david-bartus-297933.jpg');
    background-position: center center;
    background-size: cover;
}

.co2{
    background: url('../IMG/woman1.jpeg');
    background-position: center center;
    background-size: cover;
}

.co3{
    background: url('../IMG/cat/cat-asse.jpeg');
    background-position: center center;
    background-size: cover;
}

.co4{
    background: url('../IMG/pexels-ylanite-koppens-934069.jpg');
    background-position: center center;
    background-size: cover;
}

.co5{
    background: url('../IMG/trico.webp');
    background-position: center center;
    background-size: cover;
}

.co6{
    background: url('../IMG/shoes_product.jpeg');
    background-position: center center;
    background-size: cover;
}

.co7{
    background: url('../IMG/bag-produit.jpeg');
    background-position: center center;
    background-size: cover;
}

.co8{
    background: url('../IMG/pexels-lukas-292999.jpg');
    background-position: center center;
    background-size: cover;
}

.co9{
    background: url('../IMG/Product_Image-removebg-preview.png');
    background-position: center center;
    background-size: cover;
}

/* PAGE COLLECTION END */



/************************Nouvelle page***************************
*****************************************************************
*****************************************************************/


/* PAGE DETAIL PANIER START */
#secDETaiPanier .top{
    width: 70%;
    height: auto;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secDETaiPanier .top .image{
    width: 40%;
    height: 50vh;
    border: 2px solid rgba(255, 220, 219, 1);
    background: url("../IMG/pexels-ylanite-koppens-934069.jpg");
    background-position: center center;
    background-size: cover;
    background-color: #452;
}

#secDETaiPanier .top .description{
    width: 50%;
    height: 50vh;
    margin: 30px;
    margin-left: 55px;
}

#secDETaiPanier .top .description h3{
    font-size: 3.5em;
    color: rgba(254, 102, 102, 1);
}

#secDETaiPanier .top .description p{
    font-size: 1.5em;
}
#secDETaiPanier .top .btnT{
    width: 60px;
    height: 60px;
    font-size: 1.7rem;
    border: 2px solid #999;
    background-color: #fff;
}

#secDETaiPanier .top .btn-detail{
    width: 350px;
    height: 50px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    background-color: #000;
}

.wrapperBtn{
    float: right;
    margin-right: 210px;
    background-color: #fff;
    border: 1px solid #000;
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperBtn > span{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.wrapperBtn span.num{
    font-size: 1.3rem;
}

/* PAGE PANIER END */