body,html {
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* START-INFO */
.info{
    width: 100%;
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info .info_left{
    width: 30%;
    height: 250px;
    background: url('../IMG/solde1.webp');
    background-color: crimson;
}

.info .info_right{
    width: 29.5%;
    height: 250px;
    background: url('../IMG/solde2.webp');
    background-color:forestgreen;
}
/* END-INFO */


/* START CATEGORIES */
.cat{
    text-align: center;
}

.cat .entete{
    margin-bottom: 85px;
}

.cat .entete h2{
    font-size: 4em;
}

.cat .entete p{
    font-size: 1.5em;
}

.cat .entete button{
    color: #fff;
    font-size: 1em;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    background: #000;
}

.cat .card_image{
    width: 100%;
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cat .card_image .card{
    position: relative;
    width: 20%;
    height: 350px;
    border-radius: 15px;
    background: url('../IMG/cat/cat-man.jpeg');
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}

.cat .card_image .card > div{
    position: absolute;
    bottom: 30px;
}

.cat .card_image .card div > button{
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    background: #fff;
}

/* END CATEGORIES */

/* START ARRIVAGES */

.cat .entete .but_blanc{
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 35px;
    border: 1px solid;
    border-radius: 5px;
    background: #fff;
}
.card_imgArr{
    width: 100%;
    padding: 0;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.cat .card_imgArr .card1{
    height: 600px;
    width: 25%;
    background: url('../IMG/woman1.jpeg');
    background-position: center center;
    background-size: cover;
    margin-top: 90px;
}

.cat .card_imgArr .card2{
    height: 600px;
    width: 25%;
    background: url('../IMG/woman1.jpeg');
    background-position: center center;
    background-size: cover;
}

.cat .card_imgArr .card3{
    height: 600px;
    width: 25%;
    background: url('../IMG/woman2.jpeg');
    background-position: center center;
    background-size: cover;
    margin-top: 90px;

}


/* END ARRIVAGES */


/* START PRODUIT */
.card_imgPr{
    /* background: #000; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.card_imgPr .c{
    width: 25%;
    height: 370px;
}

.card_imgPr .c > .mo{
    width:100%; 
    height:350px;
    margin-bottom: 15px;
}

.mo1{
    background: url('../IMG/shortHOP.jpeg');
    background-position: center center;
    background-size: cover;
}

.mo2{
    background: url('../IMG/trico.webp');
    background-position: center center;
    background-size: cover;
}

.mo3{
    background: url('../IMG/t-shirt1.avif');
    background-position: center center;
    background-size: cover;
}

/* END PRODUIT */

.traifoo{
    width: 95%;
    border: 1px solid #000;
    margin: 15px auto;
}